[submodule "VisualNodeSystem"]
	path = SubSystems/NodeSystem/VisualNodeSystem
	url = https://github.com/Azzinoth/VisualNodeSystem
[submodule "FEBasicApplication"]
	path = SubSystems/FEBasicApplication
	url = https://github.com/Azzinoth/FEBasicApplication/
